<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <link rel="shortcut icon" href="img/dolphin.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.1.2-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.1.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="fontawesome-free-5.6.3-web/css/all.css">
    <link rel="stylesheet" href="aos-master/dist/aos.css">
    <link rel="stylesheet" href="fontawesome-free-5.6.3-web/js/all.js">
</head>

<body>
    <nav class=" aurelle navbar sticky-top navbar-expand  navbar-dark">
        <a class="navbar-brand" href="/"><span><img width="45" height="45"  src="img/dolphin.png" /></span><h4 style="color : white !important; ">Source2onto</h4></a>


        <!-- Menu Area -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse justify-content-end container-fluid" id="mosh-navbar">
            <ul class="navbar-nav animated" id="nav">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Why Source2Onto?
                          </a>
                    <div class="dropdown-menu">
                        <h5 class="dropdown-header">Features</h5>
                        <a class="dropdown-item" href="">Knowledge extraction</a>
                        <a class="dropdown-item" href="">Ontology learning</a>
                        <a class="dropdown-item" href="">Ontology review</a>
                        <a class="dropdown-item" href="">Ontology development</a>
                        <a class="dropdown-item" href="">Ontology integration</a>
                        <a class="dropdown-item" href="">Team management</a>
                        <a class="dropdown-item" href=""> Documentation</a>
                        <a class="dropdown-item" href=""> Ontology testing</a>
                        <h5 class="dropdown-header">Users stories</h5>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Explore
                            </a>
                    <div class="dropdown-menu">
                        <h5 class="dropdown-header">Explore Source2Onto</h5>
                        <a class="dropdown-item" href="">Learn and contribute</a>
                        <a class="dropdown-item" href="">Topics</a>
                        <a class="dropdown-item" href="">Collections</a>
                        <a class="dropdown-item" href="">Open source guide</a>
                        <a class="dropdown-item" href="">Connect with other</a>
                        <a class="dropdown-item" href="">Event</a>
                        <a class="dropdown-item" href="">Community forum</a>
                        <a class="dropdown-item" href="">Case studies</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Use</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/accueil/project">
                                  Develop 
                                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Browse</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                 Support
                                </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">Submit feedback</a>
                        <a class="dropdown-item">Help</a>
                        <a class="dropdown-item">Release note</a>
                        <a class="dropdown-item">How to sit?</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search" style="color:white"></i></a>
                </li>
            </ul>

            <!-- Login/Register btn -->
            <div class="login-register-btn">
                <a href="/user">Sign in</a>
                <a href="/registration">/ Sign up</a>
            </div>
        </div>
    </nav>
    <div class="collapse aurelle " id="collapseExample">
        <input type="search" class="form-control" placeholder="enter key word!">
    </div>


    <div class="content">
        <div class="head-cont">
            <div class=" text-center">
                <h1 style="color:white" class="pt-7">Welcome to Source2Onto</h1>
                <h3 style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius</h3>
            </div>
            <div class=" text-center mt-5">
                <button class="btn btn-light text-center pt-2 pb-2 pl-5 pr-5">Get started <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>
            </div>
            <div class="text-center mt-5">
                <img src="img/graphe2.png " alt="photo_app">
            </div>
        </div>

        <div>
            <h3 class="mt-5" style="color: black; text-align: center; font-weight: bold" data-aos="zoom-in" data-aos-duration="1500">What is Source2Onto?</h3>
            <div class="sign container row ">
                <p class="col-sm-6 " data-aos="fade-right" data-aos-duration="1500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                <div class="col-sm-4" data-aos-duration="1500">
                    <img src="img/dolphin.png" class="ml-5" style="height: 250px " data-aos="fade-left">
                </div>

            </div>
        </div>

        <div class="bg-light p-5">
            <h3 class="mb-4" style="color: black; text-align: center; font-weight: bold" data-aos="zoom-in" data-aos-duration="1500">Our services</h3>
            <div class=" service container row">
                <div class="col-sm-4">
                    <i class="fa fa-cogs fa-5x" aria-hidden="true" data-aos="fade-down" data-aos-duration="1500"></i>
                    <br>
                    <br>
                    <h6>Extract Knowledge</h6>
                    <p data-aos="fade-up" data-aos-duration="1500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-cogs fa-5x" aria-hidden="true" data-aos="fade-down" data-aos-duration="1500"></i>
                    <br>
                    <br>
                    <h6>Define Model!</h6>
                    <p data-aos="fade-up" data-aos-duration="1500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-cogs fa-5x" aria-hidden="true" data-aos="fade-down" data-aos-duration="1500"></i>
                    <br>
                    <br>
                    <h6>Develop</h6>
                    <p data-aos="fade-up" data-aos-duration="1500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni </p>
                </div>
            </div>
            <div class=" service container row">
                <div class="col-sm-4">
                    <i class="fa fa-users fa-5x" aria-hidden="true" data-aos="fade-down" data-aos-duration="1500"></i>
                    <br>
                    <br>
                    <h6>Work in collaboration</h6>
                    <p data-aos="fade-up" data-aos-duration="1500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-users fa-5x" aria-hidden="true" data-aos="fade-down" data-aos-duration="1500"></i>
                    <br>
                    <br>
                    <h6>Make Statistics</h6>
                    <p data-aos="fade-up" data-aos-duration="1500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-cogs fa-5x" aria-hidden="true" data-aos="fade-down" data-aos-duration="1500"></i>
                    <br>
                    <br>
                    <h6>Develop</h6>
                    <p data-aos="fade-up" data-aos-duration="1500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni </p>
                </div>
            </div>
        </div>
        <div class="pt-5 pb-5">
            <h3 class="mb-5" style="color: black; text-align: center; font-weight: bold" data-aos="zoom-in" data-aos-duration="1500">Make Your Search</h3>
            <div class="row container">
                <div class="col-sm-6">
                    <div class="card shadow" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card-body">
                            <h2 class="text-center">Search for class</h2>
                            <br>
                            <input type="text" class="form-control" placeholder="Search" name="search_class" /><span class="glyphicon glyphicon-search"></span>
                            <br>
                            <p><a class="btn aurelle" href="#" role="button">None</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="card shadow" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card-body">
                            <h2 class="text-center">Search for class</h2>
                            <br>
                            <input type="text" class="form-control" placeholder="Search" name="search_class" /><span class="glyphicon glyphicon-search"></span>
                            <br>
                            <p><a class="btn aurelle" href="#" role="button">None</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-light pt-5 pb-5">
            <h3 class="mb-5 " style="color: black; text-align: center; font-weight: bold" data-aos="zoom-in" data-aos-duration="1500">Statistics</h3>
            <div class="row container ">
                <div class="col-sm-6">
                    <div class="card shadow" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card-body">
                            <h2 class="text-center">Search for class</h2>
                            <br>
                            <input type="text" class="form-control" placeholder="Search" name="search_class" /><span class="glyphicon glyphicon-search"></span>
                            <br>
                            <p><a class="btn aurelle" href="#" role="button">None</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card shadow" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card-body">
                            <h2 class="text-center">Search for class</h2>
                            <br>
                            <input type="text" class="form-control" placeholder="Search" name="search_class" /><span class="glyphicon glyphicon-search"></span>
                            <br>
                            <p><a class="btn aurelle" href="#" role="button">None</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="signup">
        <h3 class="mt-5" style="color: black; text-align: center; font-weight: bold" data-aos="zoom-in" data-aos-duration="1500">Create your account and join us</h3>
        <div class="sign container row ">
            <p class="col-sm-4 " data-aos="flip-left" data-aos-duration="1500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
            </p>
            <div class="col-sm-4 card bg-light " style="float: right" data-aos="flip-right" data-aos-duration="1500">
                <h4 class="mt-4  ml-3">Sign Up</h4>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>User name</label> <br>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email</label><br>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label><br>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Confirm password</label><br>
                            <input type="password" name="passwordconfirm" class="form-control">
                        </div>
                        <button type="submit" class="btn aurelle form-control" style="color:white">Sign Up</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    </div>
    <% include partials/footer.ejs %>
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="bootstrap-4.1.2-dist/js/bootstrap.min.js"></script>
        <script src="aos-master/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
</body>

</html>