<% include partials/header.ejs %>
    <link rel="stylesheet" type="text/css" media="screen" href="css/modele.css">
    <div class="collapse aurelle " id="collapseExample">
        <input type="search" class="form-control" placeholder="enter key word!">
    </div>
    <div class="container mt-5">
        <h2 class="mb-5" style="font-weight: bold; text-align: center">Define Your Model!</h2>
        <p style=" text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fu</p>
        <ul class="nav nav-tabs mt-5" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#regex" role="tab" data-toggle="tab">Regex</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#hmm" role="tab" data-toggle="tab">HMM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#constructhmm" role="tab" data-toggle="tab">Construct model</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active " id="regex">
                <label class="mt-4" style="font-weight: bold">Programming Language 
                </label> <br>
                <select class="custom-select">
                    <option>Choose one language</option>
                    <option value="1">java</option>
                    <option value="2">php</option>
                    <option value="3">javascript</option>
                </select>
                <div class="row mt-5">
                    <div class="form-group green-border-focus col-sm-5">
                        <label for="define" style="font-weight: bold">Define Model</label>
                        <textarea class="form-control" id="define" rows="5"></textarea>
                    </div>
                    <div class="form-group green-border-focus col-sm-5">
                        <label for="description" style="font-weight: bold">Description</label>
                        <textarea class="form-control" id="description" rows="5"></textarea>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="btn bg-save pl-5 pr-5" type="submit">Save</button>
                    <button class="btn bg-cancel pl-5 pr-5 ml-4" type="submit">Cancel</button>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="hmm">
                <label class="mt-4" style="font-weight: bold">Programming Language 
                </label> <br>
                <select class="custom-select">
                    <option>Choose one language</option>
                    <option value="1">java</option>
                    <option value="2">php</option>
                    <option value="3">javascript</option>
                </select>
                <div class="mt-4">
                    <label style="font-weight: bold">HMM states</label>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Pre</label><br>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>Target</label><br>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>Post</label><br>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>Other</label><br>
                            <input type="text" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="mt-4">
                    <label style="font-weight: bold">Datasource</label><br>
                    <label>For model training</label><br>
                    <div class="mt-2 custom-file" style="width: 28em !important;">
                        <label style="color:black" class="custom-file-label">choose a file</label> <br>
                        <input type="file" class="custom-file-input" onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
                    </div>
                    <button class="btn bg-save pl-5 pr-5" style="margin-left: 144px">Train model</button>
                </div>

                <div class="mt-4">
                    <label>Choose the training algorithm</label><br>
                    <select class="custom-select">
                       <option>algorithm</option>
                       <option value="1">algorithm 1</option>
                       <option value="2">algorithm 2</option>
                       <option value="3">algorithm 3</option>
                   </select>
                    <button class="btn bg-save pl-5 pr-5 ml-4">Reference model</button>
                </div>
                <div class="mt-3">
                    <button class="btn bg-save pl-5 pr-5 " onclick="showParameters()" type="submit">Train the model</button>
                    <button class="btn bg-cancel pl-5 pr-5 ml-4" type="submit">Cancel</button>
                </div>
                <div class="mt-5 " id="parameters">
                    <h5 style="color: black; font-weight: bold" class="mb-3">HMM Parameters</h5><br>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 style="color: black; font-weight: bold">Init</h6><br>
                            <table class="table table-md " style="width: 30em">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">PRE</th>
                                        <th scope="col">TARGET</th>
                                        <th scope="col">POST</th>
                                        <th scope="col">OTHER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lorem</td>
                                        <td>Lorem</td>
                                        <td>Lorem</td>
                                        <td>Lorem</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <h6 style="color: black; font-weight: bold">Transitions</h6><br>
                            <table class="table table-md" style="width: 30em">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th scope="col">PRE</th>
                                        <th scope="col">TARGET</th>
                                        <th scope="col">POST</th>
                                        <th scope="col">OTHER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">PRE</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">TARGET</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">POST</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">OTHER</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <h6 style="color: black; font-weight: bold">Observations</h6><br>
                        <table class="table table-md" style="width: 30em">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th scope="col">Item A</th>
                                    <th scope="col">Item B</th>
                                    <th scope="col">Item C</th>
                                    <th scope="col">Item D</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">PRE</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">TARGET</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">POST</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">OTHER</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-3 mb-3">
                        <button class="btn bg-save pl-5 pr-5 " type="submit">Save model</button>
                        <button class="btn bg-cancel pl-5 pr-5 ml-4" type="submit">Cancel</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="constructhmm">
                <%include drag.ejs %>
            </div>

        </div>
    </div>
    <%include partials/footer.ejs %>
        <% include chat.ejs%>
            <script src="js/jquery.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="bootstrap-4.1.2-dist/js/bootstrap.min.js"></script>
            <script type="text/javascript">
                function selectFolder(e) {
                    var theFiles = e.target.files;
                    var relativePath = theFiles[0].webkitRelativePath;
                    var folder = relativePath.split("/");
                    alert(folder[0]);
                }

                function showParameters() {
                    document.getElementById("parameters").style.display = "block";

                }

                var socket = io();

                var define = document.getElementById("define");
                var description = document.getElementById("description");

                //send definition regex to server
                define.addEventListener('keyup', function() {
                    socket.emit('define', define.value);
                });

                //receive definition regex from server
                socket.on('define', function(data) {
                    define.value = data
                });

                //send descerption regex to server
                description.addEventListener('keyup', function() {
                    socket.emit('description', description.value);
                });

                //receive description regex from server
                socket.on('description', function(data) {
                    description.value = data
                });
            </script>
            </body>

            </html>