<div class="footer mt-5" style="position:relative">
    <div class="container row p-5">
        <div class="col-sm-3">
            <h4 style="color:white;">Products</h4>
            <ul>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4 style="color:white;">Platform</h4>
            <ul>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4 style="color:white;">Support</h4>
            <ul>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
                <li ><a href="#">Lorem</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4 style="color:white;">Connect</h4>
            <p><i class="fab fa-facebook-f fa-2x" style="color:blue;"></i>
                <i class="fab fa-twitter fa-2x ml-md-3" style="color:rgb(49, 77, 238);"></i>
                <i class="fab fa-youtube fa-2x ml-md-3" style="color:red;"></i></p>
        </div>
    </div>
</div>
<div class="copyDiv">
    <div class="copy">@copyright2019|source2onto</div>
</div>
